* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.container {
    margin: auto;
    margin-top: 100px;
    padding-left: 0px;
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
    background-color: slate;
    height: 282px;
}

.output {
    margin: 1px;
    height: 40px;
    width: 97%;
    border-radius: 10px;
    background-color: rgb(234, 229, 229);
}

.inputs {
    margin: 1px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.input-items {
    height: 30px;
    border-radius: 10px;
}

.equal {
    grid-column: span 2;
}

.backspace {
    height: 50px font-size:0px;
    `height: 100%;



}